.page-contacts {
  display: flex;
  flex-direction: column;
}

.contacts {
  position: relative;
  background-color: #05152CF7;
  padding: rem(40) 0 rem(40) 0;
  min-height: 90vh;
  color: $whiteColor;
  flex: auto;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(@img/contact__bg.png) no-repeat center center / cover;
    top: 0;
    left: 0;
  }

  &__container {
    position: relative;
    z-index: 1;

    @media(max-width:1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__crumbs {
    @include adaptiveClamp(margin-bottom, 60, 30);
    margin-right: auto;

    .crumbs__link-home,
    p {
      color: $whiteColor;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: rem(30);

    @media(max-width:1000px) {
      flex-direction: column;
      gap: rem(10);
    }
  }

  &__body {}

  &__title {
    color: $whiteColor;
    font-family: Franklin Gothic Medium;
    font-size: rem(30);
    @include adaptiveClamp(margin-bottom, 40, 20);
    font-style: normal;
    line-height: 130%;

    @media(max-width:1000px) {
      text-align: center;
    }

    @media(max-width:630px) {
      max-width: rem(480);
    }
  }

  &__devel {}

  &__grid {}

  &__form {
    width: rem(420);
    height: auto;
    box-sizing: border-box;

    // background-color: $whiteColor;
    @media(max-width:1000px) {
      margin: 0 auto;
    }

    @media(max-width:450px) {
      width: 100%;
    }
  }
}

.devel-contacts {
  display: flex;
  align-items: center;

  @media(max-width:1000px) {
    justify-content: center;
  }

  @include adaptiveClamp(margin-bottom, 50, 25);

  &__img {
    @include adaptiveClamp(width, 182, 120);
  }

  &__body {}

  &__title {
    position: relative;
    padding: rem(18) rem(51) rem(18) rem(37);

    @media(max-width:670px) {
      padding: rem(14) rem(21) rem(14) rem(17);
    }

    h2 {
      @include adaptiveClamp(font-size, 22, 14);
      text-transform: uppercase;
      color: $whiteColor;
      font-weight: 700;
      line-height: 170%;
      @include adaptiveClamp(max-width, 300, 185);
    }

    &::before {
      position: absolute;
      content: '';
      width: 130%;
      height: 100%;
      border-radius: 0px 50px 50px 0px;
      background: #1A3155;
      top: 0;
      right: 0;
      z-index: -1;

    }

  }
}

.grid-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: rem(60) rem(20);
  justify-content: space-between;
  max-width: rem(610);

  @media(max-width:1000px) {
    gap: rem(30) rem(20);
    margin-top: rem(50);
  }

  @media(max-width:575px) {
    flex-direction: column;
    max-width: rem(420);
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: rem(18);
      color: $whiteColor;
      margin-bottom: rem(20);
    }

    p,
    a {
      font-size: rem(16);
      color: $whiteColor;
    }

    img {
      width: rem(24);
    }
  }

  &__text {
    display: flex;
    gap: rem(12);
    align-items: center;
  }

  &__chart {
    justify-content: center;

    @media(max-width:1000px) {
      justify-content: start;
    }
  }

  &__title {}

  &__brif {}

  &__email {

    img {
      width: rem(25);
      height: 100%;
    }

    a {
      color: #3094FF;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #1384fc;
      }
    }
  }

  &__social {}
}

.brif-contacts {

  &__body {
    display: flex;
    align-items: center;

    &:hover {
      .brif-contacts__text {
        &::before {
          top: 0;
          right: rem(-20);
        }
      }
    }
  }

  img {
    width: rem(80);
  }

  &__img {}

  &__text {
    position: relative;
    padding: rem(9) rem(30) rem(9) rem(20);
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      width: 130%;
      height: 100%;
      border-radius: 0px 50px 50px 0px;
      background: #1A3155;
      top: 0;
      right: 0;
      z-index: -1;
      transition: all 0.3s ease-in-out 0s;
    }

    p {
      font-size: rem(14);
      max-width: rem(140);
      line-height: 140%;
    }

  }
}

.social-contacts {
  h3 {
    margin-bottom: rem(14.5);
  }

  &__row {
    display: flex;
    gap: rem(19);
  }

  &__item {
    img {
      width: rem(35);
      transition: opacity 0.3s ease 0s;
    }

    cursor: pointer;

    &:hover {
      img {
        opacity: 0.8;
      }

    }
  }
}