.sitemap {
  padding: rem(50) 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(40);
  }

  h1 {
    @include adaptiveClamp(font-size, 40, 28);
    line-height: normal;
    text-transform: uppercase;
  }

  h2 {}

  ul {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    padding-left: rem(20);

  }

  ul,
  li {
    list-style: disc;
  }

  &__link {
    color: rgba($color: #ffffff, $alpha: 0.05);
    text-align: center;
    margin: 0 auto -10px;
    display: block;
  }
}