.portfolio {
  &__section {
    padding: rem(110) 0;

    @include media(768) {
      padding: rem(50) 0 rem(60);
    }
  }

  &__title {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #9F9F9F;
    margin-bottom: rem(60);

    @include media(768) {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: rem(50);
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);

    @include media(768) {
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  &__box {
    width: calc(33.3333% - 20px);
    background: #F4F5F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(25) rem(20) rem(20);
    text-align: center;
    position: relative;

    @include media(992) {
      width: calc(50% - 15px);
    }

    @include media(500) {
      width: 100%;
    }
  }

  &__box-title {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: rem(22);
    line-height: rem(30);
    color: #363636;
    margin-bottom: rem(14);
  }

  &__box-type {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(19);
    letter-spacing: 0.01em;
    color: #9F9F9F;
    margin-bottom: rem(25);
  }

  &__box-img {
    width: 100%;
    margin-top: auto;
    border-radius: 6px;
  }

  &__link {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    img {
      opacity: 0;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-10%);
      }
    }

    &:hover {
      background: rgba(0, 27, 91, 0.8);
      backdrop-filter: blur(2.5px);

      img {
        opacity: 1;
      }
    }
  }

  &__pagination {
    margin: 20px auto;
    display: none;
    align-items: center;

    @include media(768) {
      display: flex;
    }

    .swiper-pagination-bullet {
      min-width: 6px;
      min-height: 6px;
      max-width: 6px;
      max-height: 6px;
      background: #EBEBEB;
      border-radius: 50%;
      display: flex;
      margin: 0 5px;
    }

    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-next {
      min-width: 8px;
      min-height: 8px;
      max-width: 8px;
      max-height: 8px;
    }

    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next {
      min-width: 10px;
      min-height: 10px;
      max-width: 10px;
      max-height: 10px;
    }

    .swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
      min-width: 10px;
      min-height: 10px;
      max-width: 10px;
      max-height: 10px;
      background: linear-gradient(90deg, #3369E7 0%, #8E43E7 100%);
    }
  }
}