.services {
  &__section {
    background-image: url(@img/services__bg.png);
    padding: rem(60) 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: rem(36);
    line-height: rem(41);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: rem(20);

  }

  &__subtitle {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    max-width: rem(820);
    margin: 0 auto rem(65);
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
  }

  &__box {
    border-radius: 8px;
    width: calc(33.3333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    @include media(992) {
      width: calc(50% - 15px);
    }

    @include media(500) {
      width: 100%;
    }

  }

  &__image {
    width: 100%;
    padding: rem(5) rem(45) rem(50);
    height: rem(235);

    .purple & {
      background: #7435BF;

    }

    .blue & {
      background: #3846C5;
    }
  }

  &__box-img {}

  &__text {
    background: #FFFFFF;
    width: 100%;
    padding: 0 rem(45) rem(37);
  }

  &__box-price {
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: rem(-80) auto rem(33);
    padding: rem(32) rem(20) rem(25);
    z-index: 1;
  }

  &__text-type {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #363636;
    margin-bottom: rem(20);
  }

  &__price {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: rem(34);
    line-height: rem(38);
    text-align: center;
    text-transform: uppercase;

    .purple & {
      color: #7435BF;
    }

    .blue & {
      color: #3846C5;
    }

    &::before {
      content: "от ";
      font-size: rem(16);
      line-height: rem(19);
      margin-right: 3px;
    }
  }

  &__list {
    margin-bottom: rem(30);
    display: flex;
    flex-direction: column;
    align-self: start;
    padding-left: rem(20);
  }

  &__item {
    text-align: left;

    font-size: 14px;
    line-height: 30px;
    color: #7E7E7E;
    list-style: disc;

    .purple & {
      &::marker {
        color: #7435BF;
      }
    }

    .blue & {
      &::marker {
        color: #3846C5;
      }
    }
  }

  &__btn {
    height: rem(50);
    max-width: rem(214);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: all 0.5s;

    .purple & {
      background: #7435BF;
    }

    .blue & {
      background: #3846C5;
    }

    &:hover {
      background: linear-gradient(90deg, #3369E7 0%, #8E43E7 100%);
    }
  }
}