.statistics {
  &__section {
    padding: rem(65) 0;

    @include media(768) {
      padding: rem(30) 0;
    }
  }

  &__block {
    max-width: rem(970);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    text-align: center;

    @include media(700) {
      flex-wrap: wrap;
    }

  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(700) {
      width: calc(50% - 10px);
    }
  }

  &__box-circle {
    width: rem(150);
    height: rem(150);
    margin-bottom: rem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    position: relative;
  }

  &__box-circle-item {
    width: 100%;
    position: absolute;
    z-index: -1;

    .svgCircle {
      stroke-lineCap: round;
    }
  }

  &__box-value {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #363636;
  }

  &__box-label {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #363636;
  }

  &__box-subtitle {
    font-size: 13px;
    line-height: 150%;
    color: #363636;
    max-width: 150px;
  }
}

// @keyframes growProgressBar {

//   0%,
//   33% {
//     --pgPercentage: 0;
//   }

//   100% {
//     --pgPercentage: var(--value);
//   }
// }

// @property --pgPercentage {
//   syntax: '<number>';
//   inherits: false;
//   initial-value: 0;
// }

// div[role="progressbar"] {
//   position: absolute;
//   --pgPercentage: var(--value);
//   animation: growProgressBar 3s 1 forwards;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   border-radius: 50%;
//   display: grid;
//   place-items: center;
//   background:
//     radial-gradient(closest-side, white 96%, transparent 0 100 %, white 0),
//     conic-gradient(#3369E7 calc(var(--pgPercentage) * 1%), #ffffff 0);
// }

// // div[role="progressbar"]::before {
// //   counter-reset: percentage var(--value);
// //   content: counter(percentage) '%';
// // }