// Firefox
* {
  scrollbar-width: rem(8);
  scrollbar-color: transparent;

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: rem(8);
    background-color: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: rem(4);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(4);
    border: 0 none transparent;
    background-color: lighten($firstAccentColor, 10%);
    transition: all 280ms ease-in-out;

    &:hover {
      background-color: $firstAccentColor;
    }
  }
}